@import "tailwindcss";

.google-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: google-animation 2s infinite;
}

.dot-blue {
  background-color: #4285f4;
  left: -18px;
  animation-delay: 0s;
}

.dot-red {
  background-color: #ea4335;
  left: -6px;
  animation-delay: 0.1s;
}

.dot-yellow {
  background-color: #fbbc05;
  left: 6px;
  animation-delay: 0.2s;
}

.dot-green {
  background-color: #34a853;
  left: 18px;
  animation-delay: 0.3s;
}

@keyframes google-animation {
  0%,
  100% {
    transform: translateY(0) scale(1.2);
  }
  25% {
    transform: translateY(1rem) scale(1);
  }
  50% {
    transform: translateY(2rem) scale(0.8);
  }
  75% {
    transform: translateY(1rem) scale(1);
  }
}

.animate-ring-bell {
  animation: ring-bell-animation 1s infinite;
}

@keyframes ring-bell-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #ffffffa0;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0f0;
  border-radius: 4px;
}
